

.box1
{
margin-left: 10px;
border:5px solid #eee;
margin-top:10px;
padding-right: 2px;
text-align: center;
width: 50%;
height:200px;
border-top-right-radius: 10px;
float:left;

}

.box2
{
float:left;
border:5px solid #eee;
margin-top:10px;
padding-right: 2px;
text-align: center;
width: 50%;
height:300px%;
border-top-right-radius: 10px;
margin-left: 1px;
}



img
{

width: 100px;
height: 100px;

}